@forward 'carousel';
@forward 'modal';
@forward 'toggle';
@forward 'carousel';
@forward 'tab';
@forward 'mvAnimation';
@forward 'youtubeAPI';

.is-fixed {
  position: fixed;
  width: 100%;
}

.is-historyfade {
  animation: menuFadeInAnimation .4s .6s ease-in-out forwards;
}

.is-fade {
  animation: menuFadeInAnimation .4s ease-in-out forwards;
}

.is-slide-left {
  animation: menuSlideLeftInAnimation .4s ease-in-out forwards;
}

.is-slide-right {
  animation: menuSlideRightInAnimation .4s ease-in-out forwards;
}
