/* stylelint-disable scss/dollar-variable-pattern */
.mv__animation-01 {
  position: absolute;
  top: 0;
  left: 0;
  animation: mvAnimation 4s;
}
.mv__animation-01 > .view-item {
  display: none;
}
.mv__animation-01 > .view-item.is-display {
  display: block;
}

.mv__animation-02 {
  position: absolute;
  top: 15%;
  left: 0;
  animation: mvAnimation 4s 1s;
}
.mv__animation-02 > .view-item {
  display: none;
}
.mv__animation-02 > .view-item.is-display {
  display: block;
}

.mv__animation-03 {
  position: absolute;
  top: 30%;
  left: 0;
  animation: mvAnimation 4s 2s;
}
.mv__animation-03 > .view-item {
  display: none;
}
.mv__animation-03 > .view-item.is-display {
  display: block;
}

.mv__animation-04 {
  position: absolute;
  top: 45%;
  left: 0;
  animation: mvAnimation 4s 3s;
}
.mv__animation-04 > .view-item {
  display: none;
}
.mv__animation-04 > .view-item.is-display {
  display: block;
}

.mv__animation-05 {
  position: absolute;
  top: 60%;
  left: 0;
  animation: mvAnimation 4s 4s;
}
.mv__animation-05 > .view-item {
  display: none;
}
.mv__animation-05 > .view-item.is-display {
  display: block;
}