@use '../../_common/' as *;

.js-toggle-item {
  [data-script-enabled="true"] & {
    display: block;

    + .business-items {
      overflow: hidden;
      transition: .3s ease-in-out;
    }

    &.is-animation {
      animation: businessToggleAnimation .25s ease-in-out forwards;

      + .business-items {
        display: block;
      }
    }

    &.is-active {
      + .business-items {
        + .btn-business {
          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(225deg);
          }
        }
      }
    }

    &:not(.is-active) {
      + .business-items {
        display: none;
      }
    }
  }
}

#js-menu-circle {
  z-index: -1;

  &.is-active,
  &.is-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;

    &::before {
      @include pseudo();
      top: 16px;
      right: 20px;
      width: 36px;
      height: 36px;
      border-radius: 10000000px;
    }
  }

  &.is-active {
    &::before {
      animation: menuAnimation .3s ease-in-out forwards;
    }
  }

  &.is-close {
    &::before {
      transform: scale(80);
      animation: menuCloseAnimation .3s .3s ease-in-out forwards;
    }
  }
}

.js-menu-status {
  color: transparent;
  font-size: 0px;
}

.js-faq-status {
  color: transparent;
  font-size: 0;
}

.is-fixed {
  position: fixed;
  width: 100%;
}
