@use '../../_common/' as *;


body {
    font-family: "Noto Serif JP", sans-serif;
    color: $color-txt-01;
}


/* ----------------------------------------------------------------
    header
----------------------------------------------------------------- */
header {
    position: absolute;
    width: 100%;
    padding: 13px 16px; 
    background: rgba(217, 217, 217, 0.5);
}

.h-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-nav {
    &-list {
        display: flex;
        color: $color-main-01;
        font-weight: 700;
        font-size: 2rem;

        > li {
            & + li {
                margin-left: 30px;
            }
        }
    }
}

/* ----------------------------------------------------------------
    mv
----------------------------------------------------------------- */
.mv {
    background: url("/images/test/AdobeStock_622118063_Preview.jpeg") no-repeat;
    background-size: cover;
    height: auto;
    padding: 403px 150px 300px;

    &-txt {
        font-size: 9.6rem;
        color: #fff;
    }
}

/* ----------------------------------------------------------------
    container
----------------------------------------------------------------- */
.content-inner {
    background: #fff;
}

.content-inner {
    max-width: 1920px;
    margin: 0 auto;
}

/* ----------------------------------------------------------------
    t-lead
----------------------------------------------------------------- */
.t-lead {
    padding: 188px 20px 116px;

    &-inner {
        max-width: 1500px;
        margin: 0 auto;
        font-size: 6.4rem;
        text-align: center;
    }

    &-title {
        color: $color-main-01;
    }

    &-txt {
        margin-top: 58px;
    }
}

/* ----------------------------------------------------------------
    hdg
----------------------------------------------------------------- */
.hdg-l2 {
    position: relative;
    margin-top: 120px;
    font-size: 7.6rem;

    &_main {
        position: relative;
        display: inline-block;
        margin-left: 20px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: 8px;
            left: 0;
            width: 100%;
            height: 20px;
            background: $color-main-02;
        }
    }

    &_sub {
        position: absolute;
        top: -80px;
        left: 0;
        font-size: 12.8rem;
        color: $color-sub-01;
    }
}

/* ----------------------------------------------------------------
    Module
----------------------------------------------------------------- */
// list
//----------------------------------------------------------------- */
.list-info {
    max-width: 1720px;
    margin: 34px auto 0;
    font-size: 3.6rem;

    > li {
        position: relative;
        
        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: 8px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $color-main-02;
        }

        & + li {
            margin-top: 34px;
        }
    }
}

// media
//----------------------------------------------------------------- */
.media-lyt {
    margin-top: 63px;

    &-inner {
        display: flex;
    }

    &-item {
        flex-shrink: 0;
    }

    &-desc {
        margin-right: 30px;
    }
}


//  adjust
//----------------------------------------------------------------- */
.break {
    display: block;
}

/* ----------------------------------------------------------------
    animation
----------------------------------------------------------------- */
.fade-in {
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: opacity, transform;
    transform: translate(0, 50px);
}

.slide-in {
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(-500px, 0);
}

.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}
