.btn-a,
.btn-b,
.btn-c {
  &._left {
    text-align: left;
  }

  &._right {
    text-align: right;
  }
}

.btn-a {
  position: relative;
  margin-top: 24px;
  text-align: center;
  max-height: 56px;

  ._movie &,
  ._siteinfo & {
    margin-top: 32px;
  }

  ._movie & {
    margin-top: 60px;

    @include rwd(bpSp, below) {
      margin-top: 40px;
    }
  }

  > .btn-link {
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    padding: 15px 40px 15px 40px;
    border-radius: 10000px;
    text-align: center;
    overflow: hidden;
    z-index: 0;

    &::before {
      @include pseudo();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $color-gradient-01;
      transition: .3s;
    }

    &::after {
      @include pseudo();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-strong-01;
      z-index: -2;
    }

    > .text {
      position: relative;
      color: $color-txt-01;
      z-index: 1;
      font-size: 18px;
      font-weight: $weight-bold;
    }

    @include hover {
      &::before {
        opacity: 0;
      }

      .icon-arrow-a {
        transform: translate(0, -25%);
      }

      .icon-arrow-b {
        transform: translate(25%, -50%) rotate(-90deg);
      }
    }
  }

  + * {
    margin-top: 32px;
  }

  + [class^="hdg-"] {
    margin-top: 52px;
  }

  .text-em-a + & {
    margin-top: 32px;
  }

  @include rwd(bpSp, below) {
    ._siteinfo & {
      margin-top: 24px;
    }

    > .btn-link {
      padding: 12px 40px 12px 40px;

      > .text {
        font-size: 16px;
      }
    }

    .text-em-a + & {
      margin-top: 24px;
    }

    + [class^="hdg-"] {
      margin-top: 32px;
    }
  }
}

.btn-b {
  @extend .btn-a;
  max-height: 41px;

  .str-side-contents & {
    ._col2 & {
      margin-top: 24px;

      .btn-link {
        padding: 8px 30px 8px 30px;
        max-width: 200px;
        width: 100%;

        > .text {
          font-size: 16px;
        }

        > [class^="icon-"] {
          right: 10px;
        }
      }

      @include rwd(bpSp, below) {
        max-height: 47px;

        .btn-link {
          max-width: 100%;
          padding-top: 11px;
          padding-bottom: 11px;

          > .text {
            font-weight: $weight-bold;
          }
        }
      }
    }
  }

  .btn-link {
    max-width: auto;
    width: auto;
    padding: 15px 66px 15px 44px;

    > .text {
      font-size: 14px;
      font-weight: $weight-normal;
    }
  }
}

.btn-c {
  position: relative;
  margin-top: 24px;
  text-align: right;

  .btn-link {
    position: relative;
    display: inline-block;
    padding: 8px 26px 8px 16px;
    border: solid 1px $color-bd-03;
    border-radius: 10000px;
    text-align: center;
    overflow: hidden;
    transition: .3s;

    .text {
      color: $color-txt-02;
    }

    @include hover {
      background: $color-bd-01;

      .icon-arrow-d {
        transform: translate(2px, -50%);
      }
    }
  }

  &._type-a {
    .btn-link {
      border: solid 1px $color-txt-01;
  
      .text {
        color: $color-txt-01;
      }

      @include hover {
        background: $color-txt-03;
  
        .icon-arrow-d {
          transform: translate(2px, -50%);
        }
      }
    }
  }

  @include rwd(bpSp, below) {
    .btn-link {
      padding: 5px 25px 5px 10px;

      .text {
        font-size: 14px;
      }
    }

    .str-contents-main-inner & {
      ._narrow & {
        .btn-link {
          width: 100%;
          text-align: center;
          padding: 8px 25px 8px 10px;
        }
      }
    }
  }
}

.btn-d {
  position: relative;
  margin-top: 24px;
  text-align: right;

  .btn-link {
    position: relative;
    display: inline-block;
    padding: 10px 26px 10px 16px;
    border: solid 2px $color-bd-03;
    border-radius: 10000px;
    text-align: center;
    overflow: hidden;

    .text {
      color: $color-txt-02;
    }

    @include hover {
      border: solid 2px $color-strong-01;

      .text {
        color: $color-strong-01;
      }

      .icon-arrow-d {
        transform: translate(2px, -50%);
      }
    }
  }

  &._type-a {
    .btn-link {
      border: solid 1px $color-txt-01;
  
      .text {
        color: $color-txt-01;
      }

      @include hover {
        border: solid 2px $color-strong-01;
  
        .text {
          color: $color-strong-01;
        }
  
        .icon-arrow-d {
          transform: translate(2px, -50%);
        }
      }
    }
  }
}

.btn-e {
  position: relative;
  margin-top: 24px;
  text-align: center;

  > .btn-link {
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    padding: 15px 50px 15px 65px;
    background: $color-03;
    border-radius: 10000px;
    text-align: center;
    overflow: hidden;

    .icon-arrow-b {
      transition: .3s;
    }

    > .text {
      position: relative;
      color: $color-txt-01;
      z-index: 1;
      font-size: 18px;
      font-weight: $weight-bold;
    }

    > .sub-text {
      display: block;
      font-size: 16px;
      color: $color-txt-01;
      font-weight: $weight-normal;
    }

    @include hover {
      background: #999;

      .icon-arrow-b {
        transform:  translate(2px, -50%) rotate(-90deg);
      }
    }
  }

  + * {
    margin-top: 32px;
  }

  .text-em-a + & {
    margin-top: 32px;
  }

  @include rwd(bpSp, below) {
    > .btn-link {
      padding: 12px 40px 12px 30px;

      > .text {
        font-size: 16px;
      }
    }

    .text-em-a + & {
      margin-top: 24px;
    }
  }
}
