/* ページトップjsのスタイル */
.page-top {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
  background: $color-txt-01;
  transform: translateY(2px);

  > a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 120px;
    height: 65px;
    background: linear-gradient(to top left, $color-02 50%, transparent 50%) top left/ 50% 100% no-repeat, linear-gradient(to top right, $color-02 50%, transparent 50%) top right / 50% 100% no-repeat;
    margin: auto 0 0 auto;

    &:link {
      text-decoration: none;
      color: $color-txt-02;
    }

    @include hover() {
      > .text {
        color: $color-strong-01;
      }
    }

    > .text {
      position: relative;
      font-size: 10px;
      color: $color-txt-02;

      &::before {
        @include pseudo();
        top: -24px;
        left: 50%;
        width: 20px;
        height: 24px;
      }
    }
  }

  @include rwd(bpSp, below) {
    display: none;
  }
}

/* タブjsのスタイル */
.js-tab {
  max-width: 100%;
  margin: 0 auto 40px;

  > ul {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px $color-txt-03;

    > li {
      position: relative;

      > a {
        display: block;
        padding: 0 25.1px 6px;
        transition: .3s;
        font-size: 20px;
        color: $color-txt-02;

        @include hover() {
          color: $color-strong-01;
        }
      }

      &.is-active {
        &::before {
          @include pseudo();
          width: 100%;
          height: 2px;
          bottom: -1px;
          left: 0;
          background: $color-strong-01;
        }

        > a {
          color: $color-strong-01;
          font-weight: $weight-bold;
        }
      }

      [lang="en"] & {
        > a {
          font-weight: $weight-semibold;

          &.is-active {
            font-weight: $weight-semibold;
          }
        }
      }
    }
  }

  @include rwd(bpSp, below) {
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    margin-left: -16px;
    margin-bottom: 24px;

    > ul {
      > li {
        > a {
          font-size: 16px;
          padding: 0 10.1px 6px;
        }
      }
    }
  }
}

.js-tab-item {
  &.is-active {
    display: block;
  }

  &:not(.is-active) {
    display: none;
  }
}

/* モーダルjsのスタイル */
.js-modal-content {
  &:not(#modal-global_network) {
    &.is-active {
      .modal-wrap {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 780px;
        width: calc(100% - 10px);
        max-height: 716px;
        height: auto;
        padding: 53px 21px;
        border-radius: 4px;
        background: $color-txt-01;
        overflow-y: auto;
        opacity: 1;
        z-index: 101;
        transform: translateY(-50%) translateX(-50%);
        transition: opacity .2s;

        .close-area {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          > .btn-close {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0;
            border-radius: 10000px;
            border: solid 2px $color-bd-03;
            padding: 13px;
            transition: .3s;

            &::before,
            &::after {
                @include pseudo();
                top: 50%;
                left: 50%;
                width: 15px;
                height: 2px;
                background: $color-bd-03;
                transition: .3s;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            @include hover() {
              border: solid 2px $color-strong-01;

              &::before,
              &::after {
              background: $color-strong-01;
              }
            }
          }
        }
      }
    }
  }

  .modal-wrap {
    display: none;
    opacity: 0;
  }
}

.is-modal-fixed {
  position: fixed !important;
  width: 100%;
}

#modal-global_network {
  &.js-modal-content {
    &.is-active {
      .modal-wrap {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 1275px;
        width: calc(100% - 10px);
        max-height: 716px;
        height: calc(100% - 10px);
        padding: 30px 80px;
        background: $color-txt-01;
        overflow-y: auto;
        opacity: 1;
        z-index: 101;
        transform: translateY(-50%) translateX(-50%);
        transition: opacity .2s;

        .modal-content {
          .title {
            font-size: 21px;
            font-weight: $weight-normal;
            color: $color-txt-02;
            margin-bottom: 40px;

            > .sub-text {
              font-size: 13px;
              margin-left: 27px;
            }
          }

          .modal-content-inner {
            position: relative;
            display: flex;

            .global_network-wrap {
              width: 33.33333%;

              &:nth-of-type(n+2) {
                padding-left: 30px;
              }

              .global_network-item {
                > .hdg {
                  border-bottom: solid .5px $color-bd-01;
                  font-size: 18px;
                }

                > dl {
                  display: table;
                  padding-left: 18px;
                  padding-top: 20px;

                  > div {
                    display: table-row;

                    &.is-current {
                      > dt {
                        color: $color-strong-01;
                      }

                      > dd {
                        .item {
                          .link-b {
                            &.is-current {
                              color: $color-strong-01;
                              font-weight: $weight-bold;
                            }
                          }
                        }
                      }
                    }

                    > dt,
                    dd {
                      display: table-cell;
                    }

                    &:not(:last-of-type) {
                      dt,
                      dd {
                        padding-bottom: 10px;
                      }
                    }

                    > dt {
                      font-weight: $weight-bold;
                    }

                    > dd {
                      padding-left: 20px;

                      .item {
                        p {
                          position: relative;
                          margin-top: 0;

                          .link-b {
                            position: relative;
                            color: #333;

                            > .icon-arrow-e {
                              position: absolute;
                              right: -10px;
                              bottom: 3%;
                              transform: translate(50%, -50%);
                            }

                            @include hover() {
                              color: $color-strong-01;

                              > .icon-arrow-e {
                                right: -13px;
                                transform: translate(50%, -50%);
                              }
                            }
                          }

                          + p {
                            margin-top: 10px;
                          }
                        }
                      }
                    }
                  }
                }

                + .global_network-item {
                  margin-top: 40px;
                }

                &._global {
                  border-bottom: solid .5px $color-bd-01;

                  &.is-current {
                    > .hdg {
                      color: $color-strong-01;
                    }

                    .link-b {
                      &.is-current {
                        color: $color-strong-01;
                        font-weight: $weight-bold;
                      }
                    }
                  }

                  > .hdg {
                    display: inline-block;
                    border-bottom: none;
                  }

                  > p {
                    display: inline-block;
                    margin-top: 0;
                    margin-left: 40px;

                    .link-b {
                      color: #333;

                      @include hover() {
                        color: $color-strong-01;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .close-area {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          > .btn-close {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0;
            border-radius: 10000px;
            border: solid 2px $color-bd-03;
            padding: 13px;
            transition: .3s;

            &::before,
            &::after {
                @include pseudo();
                top: 50%;
                left: 50%;
                width: 15px;
                height: 2px;
                background: $color-bd-03;
                transition: .3s;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            @include hover() {
              border: solid 2px $color-strong-01;

              &::before,
              &::after {
              background: $color-strong-01;
            }
            }
          }
        }

        .sp-close-area {
          display: none;

          @include rwd(1024px, below) {
            display: block;

            > .sp-btn-close {
              position: absolute;
              left: 0;
              bottom: -90px;
              width: calc(100% + 40px);
              padding: 16px 10px;
              margin-left: -20px;
              text-align: center;
              background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);

              > span {
                color: $color-txt-01;
              }
            }
          }
        }

        @include rwd(1024px, below) {
          padding: 35px 20px 90px;

          .modal-content {
            .title {
              font-size: 18px;
              margin-bottom: 40px;

              > .sub-text {
                font-size: 10px;
                margin-left: 10px;
              }
            }

          .modal-content-inner {
            display: block;

              .global_network-wrap {
                width: 100%;

                &:nth-of-type(n+2) {
                  padding-left: 0;
                }

                + .global_network-wrap {
                  margin-top: 20px;
                }

                .global_network-item {
                  > dl {
                    display: table;
                    padding-left: 23px;
                    padding-top: 20px;

                    > div {
                      > dd {
                        padding-left: 40px;

                        .item {
                          p {
                            margin-top: 0;
                          }
                        }
                      }
                    }
                  }

                  + .global_network-item {
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .modal-wrap {
      display: none;
      opacity: 0;
    }
  }
}

/* モーダル表示時のスタイル */
#js-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: -1;
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
}

#js-modal-overlay.is-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

/* もっと見るのスタイル */
.js-more-show {
  position: relative;
  max-height: 600px;
  overflow-y: hidden;

  &::before {
    @include pseudo();
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  }

  .js-show-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-active {
    max-height: none;
    overflow-y: auto;

    &::before {
      display: none;
    }
  }
}

html {
  &[data-script-enabled="true"] {
    overflow-y: visible;
  }
}

