.input-item {
  margin-top: 8px;

  input[type=email],
  input[type=text] {
    display: block;
    width: 100%;
    padding: 12px 10px;
    border: solid 2px $color-bd-02;
    border-radius: 5px;
    box-shadow: 0px 8px 12px -7px $color-bd-02 inset;
  }

  input[type=checkbox] {
    display: none;
  }

  .checkbox-inner {
    margin: 16px auto 0;
    text-align: center;

    .checkbox {
      position: relative;
      display: inline-block;
      padding: 5px 0 5px 30px;
      text-align: center;
      cursor: pointer;

      &::before {
        @include pseudo();
        top: 50%;
        left: 5px;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        border: 1px solid #231815;
        border-radius: 3px;
        background: $color-txt-01;
      }

      &::after {
        @include pseudo();
        top: 56%;
        left: 10px;
        width: 5px;
        height: 9px;
        margin-top: -7px;
        border-right: 2px solid $color-strong-01;
        border-bottom: 2px solid $color-strong-01;
        opacity: 0;
        transform: rotate(45deg);
      }
    }
  }

  input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
  }
}

.audio-player {
  display: flex;
  background: $color-03;
  padding: 12px 24px 16px;
  margin-top: 52px;
  border-radius: 4px;

  > .title {
    color: $color-txt-01;
    padding-right: 24px;
    border-right: solid 1px #888;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  > .audio-controller {
    display: flex;
    align-items: center;
    padding-left: 23px;

    > #reproducingBtn {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    > .js-time {
      color: $color-txt-01;
      margin-left: 10px;
    }

    > .line {
      position: relative;
      width: 147px;
      height: 4px;
      background: #959595;
      margin-left: 10px;

      > .active-line {
        @include pseudo();
        top: 0;
        left: 0;
        width: 0;
        height: 4px;
        background: $color-strong-01;
      }
    }

    > .volume {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 5px;
    }

    > .other {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 16px;
    }
  }

  @include rwd(bpSp, below) {
    display: block;

    > .title {
      border-right: none;
      padding-right: 0;
    }

    > .audio-controller {
      padding: 16px 24px 0;
    }
  }
}

.breadcrumb-a {
  background: #E6E6E6;

  .breadcrumb-a-inner {
    max-width: 1295px;
    padding: 10px 0 10px 10px;
    margin: 0 auto;

    > ol {
      position: relative;
      display: flex;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      z-index: 1;

      &::-webkit-scrollbar {
        display: none;
      }

      > li {
        position: relative;
        flex-shrink: 0;
        padding-right: 16px;
        font-size: 12px;

        > a {
          color: $color-txt-02;

          @include hover() {
            color: $color-03;
          }
        }

        + li {
          padding-left: 8px;
        }

        &:last-of-type {
          padding-right: 0;
          font-weight: $weight-bold;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}

#modal-search {
  input[type=text] {
    display: inline-block;
    width: 100%;
    padding: 12px 10px;
  }

  .btn-b {
    > .btn-link {
      padding: 15px 44px 15px 66px;

      .icon-arrow-a {
        right: 0;
        left: -32px;
      }
    }
  }
}
