@use "../definition/mixin" as *;
@use "../definition/var" as *;

.category-lyt {
  @include rwd(bpSp) {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
    margin-left: -60px;
  }

  @include rwd(bpSp, below) {
    margin-top: 52px;
  }

  &__img {
    @include rwd(bpSp, below) {
      position: absolute;
    }

    @include rwd(bpSp) {
      height: 548px;
      object-fit: cover;
    }

    &:not(.is-active) {
      display: none;
    }
  }

  &__img-content {
    position: relative;
    width: 100%;

    @include rwd(bpSp, below) {
      height: calc(192px + (400 - 192) * ((100vw - 320px) / (768 - 320)));
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    }

    @include rwd(bpSp) {
      width: clamp(640px, 21.429rem + 29.02vw, 900px);
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    }
  }

  &__text-content {
    position: relative;

    @include rwd(bpSp, below) {
      margin-top: 20px;
    }

    @include rwd(bpSp) {
      padding-top: 8px;
    }
  }

  &__link {
    display: block;
    padding-right: 16px;

    &::after {
      position: absolute;
      width: 8px;
      height: 8px;
      content: "";
      top: 58%;
      right: 4px;
      border-top: solid 1px $color-black;
      border-right: solid 1px $color-black;
      transform: rotate(45deg) translate(-50%, -50%);
      transition: .3s;
    }

    &:hover {
      &::after {
        right: 0;
      }
    }
  }

  &__link-text {
    color: $color-black;
  }
}
