@use "../definition/mixin" as *;
@use "../definition/var" as *;

.link-list-category {
  margin: 0 auto;

  @include rwd(bpSp, below) {
    max-width: 600px;
  }

  @include rwd(bpSp) {
    max-width: 456px;
  }

  >ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include rwd(bpSp, below) {
      gap: 24px 20px;
    }

    @include rwd(bpSp) {
      gap: 32px 26px;
    }
  }

  &__list {
    @include rwd(bpSp, below) {
      width: calc((100% / 2) - 20px);
    }

    @include rwd(bpSp) {
      height: 100%;
    }
  }

  &__link {
    position: relative;
    display: block;
    color: $color-black;

    @include rwd(bpSp) {
      padding: 12px 48px 12px 0;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      bottom: 50%;
      right: 0;
      border-radius: 1000px;
      border: solid 1px $color-sub-03;
      transform: translate(0%, 50%);
      transition: .3s;

      @include rwd(bpSp, below) {
        width: 26px;
        height: 26px;
      }

      @include rwd(bpSp) {
        width: 38px;
        height: 38px;
      }
    }

    &::after {
      border-top: solid 1px $color-sub-03;
      border-right: solid 1px $color-sub-03;
      transform: rotate(45deg) translate(-50%, -50%);

      @include rwd(bpSp, below) {
        bottom: 3px;
        right: 12px;
        width: 6px;
        height: 6px;
      }

      @include rwd(bpSp) {
        bottom: 20%;
        right: 16px;
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      &::before {
        background: $color-sub-03;
      }

      &::after {
        border-top: solid 1px $color-white;
        border-right: solid 1px $color-white;
      }
    }
  }
}

.list-bubble {
  &__list {
    position: relative;

    @include rwd(bpSp, below) {
      padding-left: 20px;
    }

    @include rwd(bpSp) {
      padding-left: 20px;
    }

    &:nth-of-type(n+2) {
      @include rwd(bpSp) {
        margin-top: 12px;
      }
    }

    &::before {
      position: absolute;
      top: 13px;
      left: 6px;
      width: 8px;
      height: 8px;
      content: "";
      transform: translate(-50%, -50%);
      border-radius: 1000px;
      background: $color-main;
    }
  }

  @include rwd(bpSp, below) {
    + * {
      margin-top: 36px;
    }
  }

  @include rwd(bpSp) {
    + * {
      margin-top: 60px;
    }
  }
}

.list-unit {
  @include rwd(bpSp, below) {
    margin-bottom: 36px;
  }

  @include rwd(bpSp) {
    margin-bottom: 60px;
  }

  &__list {
    &:nth-of-type(n+2) {
      margin-top: 10px;
    }
  }

  &__unit {
    display: inline-block;

    @include rwd(bpSp) {
      margin-right: 8px;
    }
  }
}

.list-category-equipment {
  @include rwd(bpSp, below) {
    margin-top: 36px;
  }

  @include rwd(bpSp) {
    margin-top: 60px;
  }

  >ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-radius: 14px;
  }

  &__list {
    height: 100px;
    overflow: hidden;

    @include rwd(bpSp) {
      &:first-of-type {
        border-radius: 14px 0 0 14px;
      }

      &:last-of-type {
        border-radius: 0 14px 14px 0;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: .3s;
    filter: brightness(.7);
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    &:hover {
      .list-category-equipment {
        &__img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-weight: $weight-medium;
    transform: translate(-50%, -50%);
  }
}

.list-desc {
  @include rwd(bpSp, below) {
    + * {
      margin-top: 26px;
    }
  }

  @include rwd(bpSp) {
    + * {
      margin-top: 36px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 12px;

    @include rwd(bpSp, below) {
      display: block;
    }

    &:nth-of-type(n+2) {
      margin-top: 10px;
    }
  }

  &__title {
    flex-shrink: 0;
    font-weight: $weight-medium;

    &--weight-light {
      font-weight: $weight-light;

      @include rwd(bpSp, below) {
        font-weight: $weight-medium;
      }
    }
  }
}

.list-desc-column {
  @include rwd(bpSp, below) {
    margin-top: 36px;
  }

  @include rwd(bpSp) {
    margin-top: 60px;
  }

  &__block {
    &:nth-of-type(n+2) {
      margin-top: 18px;
    }
  }

  &__title {
    font-weight: $weight-medium;
  }

  &__text {
    margin-top: 8px;
  }
}

.list-annotation {
  @include rwd(bpSp, below) {
    margin-bottom: 15px;
  }

  @include rwd(bpSp) {
    margin-bottom: 30px;
  }

  &__list {
    color: $color-gray;
    font-size: 1.2rem;

    &:nth-of-type(n+2) {
      margin-top: 10px;
    }
  }

  &__unit {
    display: inline-block;

    @include rwd(bpSp) {
      margin-right: 8px;
    }
  }
}
