@use "../definition/mixin" as *;
@use "../definition/var" as *;

.footer {
  position: relative;
  background: $color-white;

  @include rwd(bpSp, below) {
    border-top: solid 3px $color-main;
  }

  @include rwd(bpSp) {
    height: 300px;
    border-top: solid 6px $color-main;
    padding: 24px 12px;
  }
}

.footer-logo {
  display: inline-block;

  @include rwd(bpSp, below) {
    height: 40px;
  }

  @include rwd(bpSp) {
    height: 50px;
  }

  &__img {
    height: 100%;

    @include rwd(bpSp) {
      object-fit: contain;
    }
  }
}

.footer-desc {
  @include rwd(bpSp, below) {
    margin: 8px 0 32px;
  }

  @include rwd(bpSp) {
    padding-left: 40px;
    margin-top: 32px;
  }

  > dl {
    @include rwd(bpSp) {
      display: flex;
      gap: 36px;
    }
  }

  &__dt {
    @include rwd(bpSp, below) {
      border-bottom: solid 1px $color-gray-03;
    }
  }

  &__dd {
    @include rwd(bpSp, below) {
      box-shadow: inset 0 0 15px -3px #777;
    }
  }

  &__contents {
    @include rwd(bpSp) {
      display: flex;
    }

    > dt {
      position: relative;

      @include rwd(bpSp) {
        padding-right: 16px;
      }

      &::before {
        content: "";

        @include rwd(bpSp) {
          position: absolute;
          top: 4px;
          right: 0;
          width: 1px;
          height: 20px;
          background: $color-gray;
        }
      }
    }

    > dd {
      @include rwd(bpSp) {
        padding-left: 16px;
      }
    }
  }

  &__contents-link {
    color: $color-black;

    @include rwd(bpSp, below) {
      position: relative;
      display: block;
      padding: 8px 36px 8px 12px;

      &::before {
        position: absolute;
        top: 36%;
        right: 18px;
        width: 10px;
        height: 10px;
        content: "";
        border-right: solid 1px $color-black;
        border-bottom: solid 1px $color-black;
        transform: rotate(45deg);
        transition: .3s;
      }
    }

    @include rwd(bpSp) {
      font-weight: $weight-medium;
    }

    &.is-active {
      @include rwd(bpSp, below) {
        &::before {
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.footer-list {
  @include rwd(bpSp, below) {
    overflow: hidden;

    &:not(.is-active) {
      display: none;
    }
  }

  &__link {
    color: $color-black;

    @include rwd(bpSp, below) {
      position: relative;
      display: block;
      padding: 8px 30px 8px 0;

      &::before {
        position: absolute;
        top: 40%;
        right: 18px;
        width: 6px;
        height: 6px;
        content: "";
        border-right: solid 1px $color-black;
        border-bottom: solid 1px $color-black;
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    &:nth-of-type(n+2) {
      .footer-list {
        &__link {
          border-top: solid 1px $color-gray-02;
        }
      }
    }
  }
}

.footer-copyright {
  @include rwd(bpSp) {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}
