@use "../definition/mixin" as *;
@use "../definition/var" as *;

.header {
  z-index: 1000;

  @include rwd(bpSp) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: rgba($color: $color-white, $alpha: 50%);
  }
}

.header-contents {
  @include rwd(bpSp) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }
}

.header-logo {
  @include rwd(bpSp) {
    height: 38px;
  }

  &__img {
    @include rwd(bpSp) {
      height: 100%;
    }
  }
}

.header-nav {
  > ul {
    @include rwd(bpSp) {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__link {
    @include rwd(bpSp) {
      font-weight: $weight-medium;
      color: $color-black;
    }
  }

  &__link-contact {
    display: block;

    @include rwd(bpSp) {
      width: 136px;
      padding: 4px 0;
      border-radius: 24px;
      color: $color-white;
      text-align: center;
      background: linear-gradient(90deg, rgb(3 47 232 / 100%) 0%, rgb(0 37 174 / 100%) 100%);
    }
  }
}
