@use "../definition/mixin" as *;
@use "../definition/var" as *;

// 各セクション
.section {
  &__lead {
    position: relative;
    width: 100%;
    padding: 16px;

    @include rwd(bpSp, below) {
      height: 60vh;
    }

    @include rwd(bpSp) {
      height: 50vw;
    }
  }
}

// カルーセル
.splide {
  position: relative;
  height: 100%;

  @include rwd(bpSp, below) {
    height: 60vh;
  }

  @include rwd(bpSp) {
    max-height: 50vw;
  }

  &__arrows {
    display: none;
  }

  &__progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: $index-first;
    background: rgba($color: $color-sub, $alpha: 50%);

    &__bar {
      background: linear-gradient(90deg, $color-sub-02 0%, $color-main 100%) !important;
      height: 10px !important;
    }
  }

  &__pagination {
    bottom: 16px !important;

    &__page {
      background: $color-sub !important;
      border: solid 1px $color-white !important;

      &.is-active {
        background: $color-main !important;
      }
    }
  }

  &__toggle {
    position: absolute;
    left: 54%;
    bottom: 17px;
    width: 10px;
    height: 10px;
    z-index: $index-first;

    &:not(.is-active) {
      .splide {
        &__toggle {
          &__play {
            display: block !important;
            width: 100%;
            height: 100%;
            font-size: 0;
            color: transparent;
            background: $color-main;
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
          }
        }
      }
    }

    &.is-active {
      // 再生中
      .splide {
        &__toggle {
          &__pause {
            display: block !important;
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 0;
            color: transparent;

            &::before,
            &::after {
              position: absolute;
              top: 0;
              content: "";
              width: 3px;
              height: 100%;
              background: $color-main;
            }

            &::before {
              left: 0;
            }

            &::after {
              right: 0;
            }
          }
        }
      }
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;

    @include rwd(bpSp, below) {
      height: 60vh;
    }

    @include rwd(bpSp) {
      max-height: 50vw;
    }
  }
}

.lead-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 840px;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.lead-em,
.lead-text {
  display: block;
  font-weight: $weight-bold;

  @include rwd(bpSp, below) {
    font-size: clamp(1.6rem, .409rem + 3.05vw, 3rem);
  }

  @include rwd(bpSp) {
    font-size: clamp(3rem, -.375rem + 4.69vw, 4.2rem);
  }
}

.lead-em {
  color: $color-main;
  text-shadow: 0 0 5px $color-white;

  @include rwd(bpSp) {
    margin-bottom: 30px;
  }
}

.lead-text {
  color: $color-white;
  text-shadow: 0 0 5px $color-black;
}

.top {
  &__hdg {
    font-weight: $weight-light;

    @include rwd(bpSp, below) {
      font-size: 2.2rem;
      margin-bottom: 30px;
    }

    @include rwd(bpSp) {
      font-size: 2.8rem;
      margin-bottom: 40px;
    }

    &--en {
      display: block;
      font-weight: $weight-light;
      margin-top: -11px;

      @include rwd(bpSp, below) {
        font-size: 1.4rem;
      }

      @include rwd(bpSp) {
        font-size: 1.6rem;
      }
    }
  }

  &__hdg-dept {
    font-weight: $weight-light;

    @include rwd(bpSp, below) {
      font-size: 2rem;
      margin-top: 40px;
    }

    @include rwd(bpSp) {
      font-size: 2.4rem;
      margin-top: 50px;
    }
  }
}

.top-company-lyt {
  @include rwd(bpSp) {
    display: flex;
    gap: 20px;
  }

  &__img-content {
    width: 100%;

    @include rwd(bpSp, below) {
      max-width: 360px;
      margin: 0 auto;
    }

    @include rwd(bpTab) {
      max-width: 540px;
    }
  }

  &__text-content {
    position: relative;
    padding-bottom: 40px;

    @include rwd(bpSp, below) {
      margin-top: 20px;
    }
  }

  &__link {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding-right: 16px;

    &::after {
      position: absolute;
      width: 8px;
      height: 8px;
      content: "";
      top: 58%;
      right: 4px;
      border-top: solid 1px $color-black;
      border-right: solid 1px $color-black;
      transform: rotate(45deg) translate(-50%, -50%);
      transition: .3s;
    }

    &:hover {
      &::after {
        right: 0;
      }
    }
  }

  &__link-text {
    color: $color-black;
  }
}

.news-desc {
  > dl {
    @include rwd(bpSp) {
      display: flex;
      gap: 80px;
    }

    > dt {
      flex-shrink: 0;
    }
  }
}

.news-category-list {
  @include rwd(bpSp, below) {
    margin-bottom: 20px;
  }

  &__wrap {
    @include rwd(bpSp, below) {
      display: flex;
    }
  }

  &__button {
    position: relative;
    transition: .5s;

    @include rwd(bpSp, below) {
      width: 100%;
    }

    @include rwd(bpSp) {
      padding-left: 16px;
    }

    &:hover {
      color: $color-main;
    }
  }

  &__list {
    @include rwd(bpSp, below) {
      width: calc(100% / 3);
      text-align: center;
    }

    &:nth-of-type(n+2) {
      @include rwd(bpSp, below) {
        border-left: solid 1px $color-black;
      }

      @include rwd(bpSp) {
        margin-top: 12px;
      }
    }

    &.is-active {
      .news-category-list {
        &__button {
          color: $color-sub-03;

          @include rwd(bpSp) {
            &::before {
              position: absolute;
              top: 6px;
              left: 0;
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 1000px;
              background: $color-sub-03;
            }
          }
        }
      }
    }
  }
}

.news-contents-list {
  &__list {
    border-bottom: solid 2px $color-black;

    &:nth-of-type(n+2) {
      @include rwd(bpSp, below) {
        .news-contents-list {
          &__anchor {
            padding-top: 10px;
          }
        }
      }

      @include rwd(bpSp) {
        .news-contents-list {
          &__anchor {
            padding-top: 14px;
          }
        }
      }
    }
  }

  &__date {
    @include rwd(bpSp, below) {
      margin-bottom: 4px;
    }
  }

  &__anchor {
    display: block;
    color: $color-black;
    transition: .3s;

    @include rwd(bpSp, below) {
      padding-bottom: 10px;
    }

    @include rwd(bpSp) {
      display: flex;
      gap: 40px;
      padding-bottom: 14px;
    }

    &:hover {
      color: $color-main;
    }
  }

  &__content-text {
    font-weight: $weight-medium;
  }
}

.top-service-list {
  @include rwd(bpSp, below) {
    margin-top: 30px;
  }

  @include rwd(bpSp) {
    margin-top: 40px;
  }

  &__wrap {
    display: flex;
    justify-content: space-around;

    @include rwd(bpSp, below) {
      flex-wrap: wrap;
      gap: 20px 12px;
    }

    @include rwd(bpSp) {
      gap: 12px;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    color: $color-black;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: $color-black;
      bottom: 0;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform .3s;
    }

    @include rwd(bpSp) {
      margin-top: 12px;
    }
  }

  &__img {
    object-fit: contain;
    transition: .4s;

    @include rwd(bpSp, below) {
      width: 50px;
      height: 50px;
    }

    @include rwd(bpSp) {
      width: 80px;
      height: 80px;
    }
  }

  &__link {
    text-align: center;

    @include rwd(bpSp, below) {
      display: inline-block;
    }

    @include rwd(bpSp) {
      display: block;
    }

    &:hover {
      .top-service-list {
        &__img {
          transform: rotateY(360deg);
        }

        &__text {
          &::before {
            transform: scale(1, 1);
            transform-origin: left top;
          }
        }
      }
    }
  }

  &__list {
    @include rwd(bpSp, below) {
      width: calc((100% / 2) - 12px);
      text-align: center;
    }
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background: $color-sub-03;

    @include rwd(bpSp, below) {
      width: 100px;
      height: 100px;
    }

    @include rwd(bpSp) {
      width: 140px;
      height: 140px;
    }
  }
}

.top-pickup-contents {
  @include rwd(bpSp, below) {
    margin-top: 40px;
  }

  @include rwd(bpSp) {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-top: 40px;
  }

  &__items {
    @include rwd(bpSp, below) {
      &:nth-of-type(n+2) {
        margin-top: 16px;
      }
    }

    @include rwd(bpSp) {
      width: calc(100% / 2);
    }
  }

  &__link {
    position: relative;
    color: $color-black;
    height: 100%;

    @include rwd(bpSp, below) {
      display: block;
      padding-bottom: 20px;
    }

    @include rwd(bpSp) {
      display: block;
      padding-bottom: 50px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      bottom: 0;
      right: 0;
      border-radius: 1000px;
      border: solid 1px $color-sub-03;
      transition: .3s;

      @include rwd(bpSp, below) {
        width: 20px;
        height: 20px;
      }

      @include rwd(bpSp) {
        width: 42px;
        height: 42px;
      }
    }

    &::after {
      border-top: solid 1px $color-sub-03;
      border-right: solid 1px $color-sub-03;
      transform: rotate(45deg) translate(-50%, -50%);

      @include rwd(bpSp, below) {
        bottom: 0;
        right: 8px;
        width: 8px;
        height: 8px;
      }

      @include rwd(bpSp) {
        bottom: 6px;
        right: 18px;
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      &::before {
        background: $color-sub-03;
      }

      &::after {
        border-top: solid 1px $color-white;
        border-right: solid 1px $color-white;
      }
    }
  }

  &__hdg {
    font-weight: $weight-light;

    @include rwd(bpSp) {
      font-size: 2.6rem;
      margin-bottom: 20px;
    }
  }
}

.category-card-list {
  @include rwd(bpSp, below) {
    margin-top: 20px;
  }

  @include rwd(bpSp) {
    margin-top: 40px;
  }

  &__wrap {
    @include rwd(bpSp) {
      display: flex;
      gap: 26px;
    }
  }

  &__list {
    box-shadow: 0 0 12px rgba($color: $color-black, $alpha: 30%);

    &:nth-of-type(n+2) {
      @include rwd(bpSp, below) {
        margin-top: 30px;
      }
    }

    @include rwd(bpSp) {
      width: calc(100% / 3 - 26px);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
  }

  &__link {
    position: relative;
    display: block;
    color: $color-black;
    height: 100%;

    @include rwd(bpSp, below) {
      padding: 8px 8px 30px;
    }

    @include rwd(bpSp) {
      padding: 12px 12px 60px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      bottom: 12px;
      right: 12px;
      border-radius: 1000px;
      border: solid 1px $color-sub-03;
      transition: .3s;

      @include rwd(bpSp, below) {
        width: 20px;
        height: 20px;
      }

      @include rwd(bpSp) {
        width: 42px;
        height: 42px;
      }
    }

    &::after {
      border-top: solid 1px $color-sub-03;
      border-right: solid 1px $color-sub-03;
      transform: rotate(45deg) translate(-50%, -50%);

      @include rwd(bpSp, below) {
        bottom: 12px;
        right: 20px;
        width: 8px;
        height: 8px;
      }

      @include rwd(bpSp) {
        bottom: 18px;
        right: 30px;
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      &::before {
        background: $color-sub-03;
      }

      &::after {
        border-top: solid 1px $color-white;
        border-right: solid 1px $color-white;
      }

      .category-card-list {
        &__img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img-wrap {
    overflow: hidden;

    @include rwd(bpSp) {
      height: 210px;
    }
  }

  &__text-wrap {
    margin-top: 12px;
  }

  &__hdg {
    display: inline-block;
    font-weight: $weight-medium;

    @include rwd(bpSp) {
      margin-bottom: 20px;
    }
  }
}

.top-contact {
  @include rwd(bpSp, below) {
    height: 140px;
  }

  @include rwd(bpSp) {
    height: 242px;
  }

  &__img {
    transition: .3s;
    height: 100%;
    object-fit: cover;
  }

  &__img-wrap {
    height: 100%;
    overflow: hidden;
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;

    &::before,
    &::after {
      position: absolute;
      content: "";
      z-index: 1;
    }

    &::before {
      right: 32px;
      border-radius: 1000px;
      border: solid 1px $color-white;
      transition: .3s;

      @include rwd(bpSp, below) {
        top: 38%;
        width: 40px;
        height: 40px;
      }

      @include rwd(bpSp) {
        top: 42%;
        width: 62px;
        height: 62px;
      }
    }

    &::after {
      border-top: solid 1px $color-white;
      border-right: solid 1px $color-white;
      transform: rotate(45deg) translate(-50%, -50%);

      @include rwd(bpSp, below) {
        top: 54%;
        right: 48px;
        width: 12px;
        height: 12px;
      }

      @include rwd(bpSp) {
        top: 56%;
        right: 56px;
        width: 22px;
        height: 22px;
      }
    }

    &:hover {
      .top-contact {
        &__img {
          transform: scale(1.1);
        }
      }

      &::before {
        background: $color-white;
      }

      &::after {
        border-top: solid 1px $color-black;
        border-right: solid 1px $color-black;
      }
    }
  }

  &__text-wrap {
    position: absolute;
    left: 0;
    z-index: 1;

    @include rwd(bpSp, below) {
      top: 34%;
      padding-left: 20px;
    }

    @include rwd(bpSp) {
      top: 38%;
      padding-left: 60px;
    }
  }

  &__text {
    display: block;
    color: $color-white;

    @include rwd(bpSp, below) {
      font-size: 1.8rem;
    }

    @include rwd(bpSp) {
      font-size: 3rem;
    }

    &--en {
      display: block;
      line-height: 24px;

      @include rwd(bpSp, below) {
        font-size: 1.2rem;
      }

      @include rwd(bpSp) {
        font-size: 2.6rem;
      }
    }
  }
}
