/* stylelint-disable scss/dollar-variable-pattern */
@media print, screen and (min-width: 769px) {
  .category-lyt {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
    margin-left: -60px;
  }
}
@media print, screen and (max-width: 768px) {
  .category-lyt {
    margin-top: 52px;
  }
}
@media print, screen and (max-width: 768px) {
  .category-lyt__img {
    position: absolute;
  }
}
@media print, screen and (min-width: 769px) {
  .category-lyt__img {
    height: 548px;
    object-fit: cover;
  }
}
.category-lyt__img:not(.is-active) {
  display: none;
}
.category-lyt__img-content {
  position: relative;
  width: 100%;
}
@media print, screen and (max-width: 768px) {
  .category-lyt__img-content {
    height: calc(192px + 208 * (100vw - 320px) / 448);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
  }
}
@media print, screen and (min-width: 769px) {
  .category-lyt__img-content {
    width: clamp(640px, 21.429rem + 29.02vw, 900px);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
  }
}
.category-lyt__text-content {
  position: relative;
}
@media print, screen and (max-width: 768px) {
  .category-lyt__text-content {
    margin-top: 20px;
  }
}
@media print, screen and (min-width: 769px) {
  .category-lyt__text-content {
    padding-top: 8px;
  }
}
.category-lyt__link {
  display: block;
  padding-right: 16px;
}
.category-lyt__link::after {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  top: 58%;
  right: 4px;
  border-top: solid 1px #222;
  border-right: solid 1px #222;
  transform: rotate(45deg) translate(-50%, -50%);
  transition: 0.3s;
}
.category-lyt__link:hover::after {
  right: 0;
}
.category-lyt__link-text {
  color: #222;
}