// background-color
$black-color-01: #222a38;
$black-color-02: #222;
$black-color-03: #000;

// white-color
$white-color-01: #fff;

// blue-color
$blue-color-01: #0d0d36;

// character-color
$Character-color-01: #d54648;
$Character-color-02: #be3c5b;
$Character-color-03: #eb90a2;
$Character-color-04: #f3bdcf;

// gradient-color
$gradient-color-01: linear-gradient(90deg, rgb(218 31 2 / 100%) 0%, rgb(251 150 8 / 100%) 100%);


// setting
$color-main-01: #0433e3;
$color-main-02: #385de8;
$color-sub-01: rgba(23, 40, 107, 0.2);
$color-txt-01: #1d1d1d;
