@charset "UTF-8";

html {
  &[lang="en"] {
    .str-contents {
      font-style: normal;

      p {
        word-break: keep-all;
        line-break: strict;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .js-clamp {
        &.title {
          font-weight: $weight-bold;
        }
      }

      .lyt-img-b {
        .title {
          font-weight: $weight-normal;
        }
      }

      .box-profile {
        .lyt-img-b {
          > .lyt-img-inner {
            word-break: keep-all;
            line-break: strict;
            word-wrap: break-word;
            overflow-wrap: break-word;
          }
        }
      }
    }

    .box-footer {
      &._sns {
        > .contact-wrap {
          > .title {
            font-style: normal;
            font-weight: $weight-bold;
          }
        }
      }

      > .contact-wrap {
        > .list-contact-a {
          > ul {
            > .btn-item {
              &._mail {
                > .btn-link {
                  > .text {
                    &::before {
                      top: 3px;
                      left: -50px;
                    }
                  }
                }
              }

              &._contact {
                > .btn-link {
                  > .text {
                    &::before {
                      top: 2px;
                      left: -50px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .list-bullet-a {
      > ul {
        > li {
          word-break: keep-all;
          line-break: strict;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }

    @include rwd(bpSp, below) {
      .box-footer {
        > .contact-wrap {
          > .list-contact-a {
            > ul {
              > .btn-item {
                &._mail {
                  > .btn-link {
                    > .text {
                      &::before {
                        top: -28px;
                        left: 41%;
                      }
                    }
                  }
                }

                &._contact {
                  > .btn-link {
                    > .text {
                      &::before {
                        top: -28px;
                        left: 38%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

      .str-contents {
        &.is-ie {
        b {
          font-weight: 600;
        }
      }
    }
  }
}

.str-contents {
  position: relative;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: $weight-normal;
  background: $color-txt-01;
  color: $color-txt-02;

  &.is-ie {
    p {
      &.title {
        overflow: visible !important;

        > a {
          position: relative;
          overflow: visible !important;
        }
      }
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  + .footer-wrap {
    max-width: 1275px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
    padding-top: 60px;
    background: #fff;
  }

  li {
    list-style-type: none;
  }

  a {
    > .text {
      color: $color-txt-02;
    }

    &:link {
      color: $color-txt-02;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  input {
    font-style: normal;
  }

  ul,
  ol,
  dl,
  dt,
  dd,
  table,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  form {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  h2 {
    background: none;
  }

  p {
    margin-top: 24px;
    margin-bottom: 0;

    &.page-top {
      margin-top: 0;
    }
  }

  a {
    &.link-a {
      position: relative;
      color: $color-strong-01;

      @include hover() {
        text-decoration: underline;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  em {
    font-style: normal;
    font-weight: $weight-bold;
  }

  .str-contents-main {
    > .include-tag-keyword {
      > .list-desc-b {
        .list-category-a {
          margin-top: 0;
        }
      }
    }

    + .box-recommend {
      margin-top: 80px;
    }

    @include rwd(bpTab, below) {
      + .box-recommend {
        margin-top: 55px;
      }
    }
  }

  &._col2 {
    > .str-contents-inner {
      position: relative;

      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 480px solid $color-02;
        border-right: 400px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid $color-02;
        z-index: 0;
      }

      .str-contents-main {
        position: relative;
        max-width: 1295px;
        width: 100%;
        padding: 24px 10px 0;
        margin: 0 auto;
        z-index: 10;

        &._position {
          max-width: none;

          .str-contents-main-inner {
            display: -ms-grid;
            display: grid;
            grid-template-columns: 1fr minmax(180px, 860px) auto 1fr;
            -ms-grid-columns: 1fr minmax(180px, 860px) auto 1fr;
            max-width: none;
            justify-content: normal;
            width: 100%;
  
            > .str-main-contents {
              -ms-grid-column: 2;
              grid-column: 2 / 3;
              -ms-grid-row: 1;
              -ms-grid-row-span: 2;
              grid-row: 1 / 2;
              max-width: 860px;
            }
  
            > .str-side-contents {
              -ms-grid-column: 3;
              grid-column: 3 / 4;
              -ms-grid-row: 1;
              -ms-grid-row-span: 2;
              grid-row: 1 / 2;
              margin-left: 65px;
              max-width: 350px;
            }
  
            > .box-recommend {
              -ms-grid-column: 1;
              -ms-grid-column-span: 5;
              grid-column: 1 / 5;
              -ms-grid-row: 3;
              -ms-grid-row-span: 4;
              grid-row: 2 / 3;
              margin-top: 80px;
              max-width: calc(100% + 20px);
              margin-left: -10px;
              margin-right: -10px;
            }
  
            @include rwd(bpTab, below) {
              grid-template-columns: auto;

              > .str-main-contents {
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: auto;
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                grid-row: 1 / 2;
                max-width: 100%;
              }
  
              > .str-side-contents {
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: 1 / 2;
                -ms-grid-row: 3;
                -ms-grid-row-span: 4;
                grid-row: 3 / 4;
                margin-left: 0;
                max-width: 100%;
                margin-top: 60px;
              }
  
              > .box-recommend {
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
                grid-column: 1 / 2;
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                grid-row: 2 / 3;
                max-width: calc(100% + 30px);
                margin-top: 60px;
                margin-left: -16px;
                margin-right: -16px;
              }
            }
          }
        }

        .str-contents-main-inner {
          display: flex;
          justify-content: center;
          z-index: 1;

          > .str-main-contents {
            max-width: 860px;
            min-width: 0;
            width: 100%;
            margin-right: 65px;
            z-index: 3;

            > .section {
              > .section-inner {
                > .details {
                  + .list-category-a {
                    margin-left: 0;

                    > ul {
                      > li {
                        > a {
                          &:first-of-type {
                            padding-left: 21px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .lyt-img-d {
              &:first-of-type {
                border-bottom: solid 1px $color-bd-01;
              }
            }
          }

          > .str-side-contents {
            max-width: 350px;
            width: 100%;
            overflow: hidden;
            z-index: 1;

            > .link-bnr-a {
              + .js-include {
                > .hdg-b {
                  &:first-of-type {
                    margin-top: 40px;
                  }
                }
              }
            }

            > .hdg-b {
              &:first-of-type {
                margin-top: 0;
              }
            }

            > .js-include {
              > .hdg-b {
                &:first-of-type {
                  margin-top: 0;
                }
              }
            }

            > .block {
              > .list-category-a {
                > ul {
                  > li {
                    > a {
                      padding-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    > .section {
      padding: 52px 80px 60px 80px;

      &._type-b {
        background: $color-02;
      }
    }

    @include rwd(bpTab, below) {
      > .str-contents-inner {
        .str-contents-main {
          .str-contents-main-inner {
            display: block;

            > .str-main-contents {
              max-width: 100%;
            }

            > .str-side-contents {
              margin-top: 60px;
              max-width: 100%;
            }
          }
        }
      }
    }

    @include rwd(bpSp, below) {
      > .str-contents-inner {
        &::before {
          border-top: 240px solid $color-02;
          border-right: 200px solid transparent;
          border-bottom: 0 solid transparent;
          border-left: 0 solid $color-02;
        }

        > .str-contents-main {
          padding:  16px 16px 0;

          > .str-contents-main-inner {
            display: block;

            > .str-main-contents {
              margin-right: 0;
            }

            > .str-side-contents {
              max-width: 100%;
              margin-top: 60px;
            }

            + .contact-wrap {
              margin-top: 60px;
            }
          }
        }
      }
    }
  }

  &._top {
    .section {
      &._type-a {
        background:$color-02;

        &::before {
          @include pseudo;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 480px solid transparent;
          border-right: 400px solid $color-01;
          border-bottom: 0 solid $color-01;
          border-left: 0 solid transparent;
          z-index: 0;
        }
      }
      &._type-b {
        background:$color-02;

        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-top: 480px solid $color-01;
          border-right: 400px solid transparent;
          border-bottom: 0 solid transparent;
          border-left: 0 solid $color-01;
          z-index: 0;
        }

        .btn-c {
          margin-top: 24px;
        }
      }
      &._type-c {
        background: $color-txt-01;

        &::before {
          @include pseudo;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 480px solid transparent;
          border-right: 400px solid $color-02;
          border-bottom: 0 solid $color-02;
          border-left: 0 solid transparent;
          z-index: 0;
        }
      }
      &._type-d {
        background: $color-txt-01;

        > .section-inner {
          z-index: 1;
        }

        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-top: 480px solid $color-02;
          border-right: 400px solid transparent;
          border-bottom: 0 solid transparent;
          border-left: 0 solid $color-02;
          z-index: 0;
        }

        &::after {
          @include pseudo;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 480px solid transparent;
          border-right: 400px solid $color-02;
          border-bottom: 0 solid $color-02;
          border-left: 0 solid transparent;
          z-index: 0;
        }
      }

      &._type-e {
        background: $color-txt-01;
        padding-bottom: 0;

        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-top: 480px solid $color-02;
          border-right: 400px solid transparent;
          border-bottom: 0 solid transparent;
          border-left: 0 solid $color-02;
          z-index: 0;
        }
      }
      &._type-f {
        background: radial-gradient(ellipse at center, #666666 3%,#666666 3%,#666666 9%,#666666 15%,#000000 73%,#000000 100%);

        .hdg-b {
          margin-bottom: 32px;

          .hdg-b-inner {
            > .text {
              color: $color-txt-01;
            }

            &::before {
              background-size: cover;
              margin-right: 32px;
            }

            &::after {
              background-size: cover;
              margin-left: 32px;
            }
          }
        }
      }

      .section-inner {
        max-width: 1275px;
        position: relative;
        margin: 0 auto;
      }

      @include rwd(bpSp, below) {
        padding: 32px 16px 24px;

        &._type-a {
          &::before {
            @include pseudo;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 240px solid transparent;
            border-right: 200px solid $color-01;
            border-bottom: 0 solid $color-01;
            border-left: 0 solid transparent;
          }
        }

        &._type-b {
          &::before {
            @include pseudo;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 240px solid $color-01;
            border-right: 200px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid $color-01;
          }

          .section-inner {
            z-index: 1;
          }
        }

        &._type-c {
          &::before {
            @include pseudo;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 240px solid transparent;
            border-right: 200px solid $color-02;
            border-bottom: 0 solid $color-02;
            border-left: 0 solid transparent;
          }
        }

        &._type-d {
          &::before {
            @include pseudo;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 240px solid $color-02;
            border-right: 200px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid $color-02;
          }

          &::after {
            @include pseudo;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 240px solid transparent;
            border-right: 200px solid $color-02;
            border-bottom: 0 solid $color-02;
            border-left: 0 solid transparent;
          }
        }

        &._type-e {
          &::before {
            @include pseudo;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 240px solid $color-02;
            border-right: 200px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid $color-02;
          }
        }

        &._type-f {
          padding: 32px 24px 24px;

          .hdg-b {
            margin-bottom: 16px;

            .hdg-b-inner {

              &::before {
                margin-right: 10px;
              }

              &::after {
                margin-left: 10px;
              }
            }
          }

          .list-category-a {
            &._type-a {
              > ul {
                > li {
                  &:first-of-type {
                    margin-left: 4px;
                  }

                  a {
                    position: relative;
                    display: inline-block;
                    padding-left: 16px;
                    padding-right: 5px;

                    &:hover {
                      .text {
                        position: relative;
                        color: $color-txt-02;
                        background: $color-bd-02;

                        &::before {
                          .is-ie & {
                            background-size: 18px 32px;
                          }
                        }

                        &::after {
                          .is-ie & {
                            right: -8px;
                          }
                        }
                      }
                    }
                  }

                  .text {
                    display: inline-block;
                    position: relative;
                    padding: 4px 8px 6px 10px;
                    line-height: 22px;

                    &::before {
                      @include pseudo;
                      top: -3px;
                      left: -16px;
                      width: 16px;
                      height: 38px;

                      .is-ie & {
                        background-size: 16px 32px;
                      }
                    }

                    &::after {
                      @include pseudo;
                      top: -1px;
                      right: -4px;
                      width: 5px;
                      height: 34px;
                    }
                  }
                }
              }
            }
          }
        }

        .contact-wrap {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
    }

    .carousel-mv {
      position: relative;
      padding-bottom: 24px;

      &::before {
        @include pseudo();
        width: 100%;
        height: 150px;
        background: $color-02;
        left: 0;
        bottom: 0;
      }

      @include rwd(bpSp, below) {
        padding-bottom: 44px;

        .carousel-controls {
          [data-script-enabled="true"] & {
            bottom: -36px;
          }
        }
      }
    }
  }

  &._category {
    .section {
      padding: 0;

      &._type-a {
        background:$color-02;

        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-top: 480px solid $color-01;
          border-right: 400px solid transparent;
          border-bottom: 0 solid transparent;
          border-left: 0 solid $color-01;
          z-index: 0;
        }
      }

      &._type-b {
        background: $color-txt-01;

        &::before {
          @include pseudo;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 480px solid transparent;
          border-right: 400px solid $color-02;
          border-bottom: 0 solid $color-02;
          border-left: 0 solid transparent;
          z-index: 0;
        }
      }

      > .section-inner {
          max-width: 1295px;
          width: 100%;
          margin: 0 auto;
          padding: 52px 10px 60px 10px;
      }

      @include rwd(bpSp, below) {
        > .section-inner {
        padding: 32px 16px 40px 16px;
        }

        &._type-a {
          &::before {
            border-top: 240px solid $color-01;
            border-right: 200px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid $color-01;
          }
        }

        &._type-b {
          &::before {
            border-top: 240px solid transparent;
            border-right: 200px solid $color-02;
            border-bottom: 0 solid $color-02;
            border-left: 0 solid transparent;
          }
        }
      }
    }
  }

  &._wide {
    > .str-contents-inner {
      position: relative;

      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 480px solid $color-02;
        border-right: 400px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid $color-02;
        z-index: 0;
      }

      > .str-contents-main {
        position: relative;
        width: 100%;
        max-width: 1295px;
        padding: 24px 10px 0;
        margin: 0 auto;
      }
    }

    @include rwd(bpSp, below) {
      > .str-contents-inner {
        &::before {
          border-top: 240px solid $color-02;
          border-right: 200px solid transparent;
        }

        > .str-contents-main {
          padding-top: 16px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }

  &._narrow {
    &._type-03 {
      > .str-contents-inner {
        > .str-contents-main-inner {
          padding: 40px 16px 0;
          max-width: 997px;
        }
      }

      @include rwd(bpSp, below) {
        > .str-contents-inner {
          > .str-contents-main-inner {
            padding: 32px 16px 0;
          }
        }
      }
    }

    > .str-contents-inner {
      position: relative;

      &::before {
        @include pseudo;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 480px solid $color-02;
        border-right: 400px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid $color-02;
        z-index: 0;
      }

      > .str-contents-main-inner {
        position: relative;
        width: 100%;
        max-width: 965px;
        padding: 24px 16px 0;
        margin: 0 auto;
      }
    }

    @include rwd(bpSp, below) {
      > .str-contents-inner {
        &::before {
          border-top: 240px solid $color-02;
          border-right: 200px solid transparent;
        }

        > .str-contents-main-inner {
          padding: 16px 16px 0;
        }
      }
    }
  }

  &._movie {
    > .str-contents-inner {
      position: relative;
      background: $color-02;

      &::before {
        @include pseudo;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 0 solid $color-01;
        border-right: 0 solid transparent;
        border-bottom: 480px solid $color-01;
        border-left: 400px solid transparent;
        z-index: 0;
        pointer-events: none;
      }

      > .str-contents-main-inner {
        position: relative;
        width: 100%;
        max-width: 1295px;
        padding: 0 10px 60px;
        margin: 0 auto;
      }
    }

    &._no-movie {
      > .str-contents-inner {
        &::before {
          content: none;
        }
      }
    }

    @include rwd(bpSp, below) {
      > .str-contents-inner {
        &::before {
          border-top: 0 solid $color-01;
          border-right: 0 solid transparent;
          border-bottom: 240px solid $color-01;
          border-left: 200px solid transparent;
        }

        > .str-contents-main-inner {
          padding: 16px 16px 32px;
        }
      }

      + .box-footer {
        .contact-wrap {
          padding-top: 0;
        }
      }
    }
  }


  &._detail {
    > .str-contents-inner {
      position: relative;

      &::before {
        @include pseudo;
        top: 300px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 480px solid $color-02;
        border-right: 400px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid $color-02;
        z-index: 0;
      }

      .str-contents-main-inner {
        position: relative;
      }
    }

    .str-contents-main {
      + .box-recommend {
        margin-top: 0;
      }
    }

    @include rwd(bpSp, below) {
      &._detail {
        > .str-contents-inner {
          &::before {
            top: 250px;
            border-top-width: 240px;
            border-right-width: 200px;
          }
        }
      }
    }
  }

  &._siteinfo {
    + .box-footer {
      .contact-wrap {
        padding-top: 60px;
      }
    }

    @include rwd(bpSp, below) {
      + .box-footer {
        .contact-wrap {
          padding-top: 40px;
        }
      }
    }
  }

  &._category {
    @include rwd(bpSp, below) {
      + .box-footer {
        .contact-wrap {
          padding-top: 0;
        }
      }
    }
  }

  &._col2 {
    .section {
      position: relative;
      padding: 0;
    }
  }

  .section {
    position: relative;
    padding: 52px 52px 60px 52px;

    &._type-g,
    &._type-h,
    &._type-i {
      padding: 0;

      &._full {
        .section-body {
          max-width: 100%;
        }
      }

      .section-inner {
        max-width: 965px;
        margin: 0 auto;
        padding: 60px 0;
        box-sizing: content-box;

        > :first-child {
          margin-top: 0;
        }
      }
    }

    &._type-h,
    &._type-i {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      .section-inner {
        display: flex;
      }

      .section-body {
        max-width: 540px;
        width: 100%;

        > :first-child {
          margin-top: 0;
        }
      }
    }

    &._type-i {
      .section-inner {
        justify-content: flex-end;
      }
    }


    &._type-j {
      padding: 0;
      background-size: cover;

      > .section-inner {
        max-width: 855px;
        margin: 0 auto;
        padding: 60px 0;
        box-sizing: content-box;

        > :first-child {
          margin-top: 0;
        }
      }
    }

    &._type-k {
      padding: 0;

      .section-inner {
        max-width: 1285px;
        margin: 0 auto;
        padding: 60px 0 0;
        box-sizing: content-box;

        > :first-child {
          margin-top: 0;
        }
      }

      ._siteinfo & {
        padding-bottom: 0;
      }
    }

    @include rwd(1317px, below) {
      &._type-j,
      &._type-k {
        .section-inner {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }

    @include rwd(997px, below) {
      &._type-g,
      &._type-h,
      &._type-i {
        .section-inner {
          padding-left: 16px;
          padding-right: 16px;
        }
      }

      &._type-h,
      &._type-i {
        .section-body {
          max-width: none;
        }
      }
    }

    @include rwd(bpSp, below) {
      &._type-g,
      &._type-h,
      &._type-i {
        .section-inner {
          padding-top: 40px;
          padding-bottom: 39px;
        }
      }

      &._type-g {
        &:first-child {
          .section-inner {
            padding-top: 17px;
          }
        }
      }

      &._type-j {
        > .section-inner {
          padding-top: 24px;
          padding-bottom: 40px;
        }
      }

      &._type-k {
        > .section-inner {
          padding-top: 32px;
          padding-bottom: 0;
        }
      }
    }
  }

  > .list-desc-b {
    max-width: 1275px;
    width: 100%;
    margin: 0 auto;
  }

  .sp-hide {
    display: block;

    @include rwd(bpSp, below) {
      display: none;
    }
  }

  .pc-hide {
    display: none;

    @include rwd(bpSp, below) {
      display: inline-block;
    }
  }

  .is-disable {
    display: none;
  }
}

.is-hide {
  display: none;
}

.is-visible {
  visibility: hidden;
}

.fatmargin {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

#rnbFloating {
  a {
    > span {
      img {
        max-width: none;
      }
    }
  }
}

.contact-wrap {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 60px;
  background: $color-txt-01;

  @include rwd(bpSp, below) {
    padding-top: 40px;
  }
}

@include rwd(bpSp, above) {
  #MegaMenu {
    display: none;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

#loader {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .cube-transition {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(50%, 40%);

    > div {
      width: 10px;
      height: 10px;
      position: absolute;
      top: -5px;
      left: -5px;
      background: #e60027;
      animation: cube-transition 1.6s 0s infinite ease-in-out;

      &:last-of-type {
        animation-delay: -.8s;
      }
    }
  }
}
