/* stylelint-disable scss/dollar-variable-pattern */
@charset "UTF-8";

// Breakpoint
$bpPc: 1275px;
$bpTab: 1024px;
$bpSp: 768px;

// Font Family
$font-01: "Noto Sans", sans-serif;
$font-02: "Open Sans", sans-serif;

// Font Weight
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;

// Color: Sub
$color-01: #d6d6d6;
$color-02: #f2f2f2;
$color-03: #666;
$color-04: #111;

// Color: Text
$color-txt-01: #fff;
$color-txt-02: #333;
$color-txt-03: #666;

// Color: Btn
$color-gradient-01: linear-gradient(90deg, rgb(0 0 0 / 100%) 0%, rgb(17 17 17 / 100%) 100%);
$color-gradient-02: linear-gradient(90deg, rgb(17 17 17 / 100%) 0%, rgb(51 51 51 / 100%) 100%);

// Color: Border
$color-bd-01: #ddd;
$color-bd-02: #ccc;
$color-bd-03: #aaa;

// Color: Other
$color-strong-01: #e60027;
